<!DOCTYPE html>
<html>
  <head>
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>峰哥的个人博客</title>
	</head>
  <body>
  	<div class="home">
  		<%- include('../public/header.ejs') %>
	    <!-- 关于博客页 -->
	    <div class="aboutpage">
	    	<p>关于博客</p>
	    	<p>该博客主要用于交流和分享前端开发中的技术</p>
	    </div>
		</div>
  </body>
</html>
